RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !\.(jpg|jpeg|gif|png|css|js|pl|txt)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?rewrite=$1&%{QUERY_STRING}

php_value error_reporting 8191
php_value log_errors Off
php_value display_errors On
php_value magic_quotes_gpc 0
